APP_NAME="mini-RAG"
APP_VERSION="0.1"
OPENAI_API_KEY="sk-"

FILE_ALLOWED_TYPES=["text/plain", "application/pdf", "application/msword", "application/vnd.openxmlformats-officedocument.wordprocessingml.document"]
MAX_FILE_SIZE_MB=10 #megabytes                                      
FILE_DEFAULT_CHUNK_SIZE=512000 