fastapi==0.110.2
uvicorn[standard]==0.29.0
python-multipart==0.0.9
pydantic-settings==2.2.1 #بتعرف مواصفات الداتا عشان تعمل عليها validation
aiofiles==23.2.1
langchain==1.2.10
PyMuPDF
motor==3.6.0
openai==1.73.0
cohere==5.5.8
qdrant-client==1.10.0
SQLAlchemy==2.0.36
asyncpg==0.30.0
alembic==1.14.0
psycopg2==2.9.10